{% extends "base.html" %}
{% block title %}Strona logowania{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages: %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div id="parent">
    <form action="#" method="post" id="form_login">
        <p>Login: </p>
        <p><input type="text" name="nm" /></p>
        <p><input type="submit" name="submit" /></p>
    </form>
</div>
{% endblock %}
